<app-header></app-header>
<section class="page-header">
    <div class="overly"></div>   
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="content text-center">
            <h1 class="mb-3">Checkout</h1>
            <p>Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of god day multiply you’ll which</p>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="page-wrapper">
     <div class="checkout shopping">
        <div class="container">
           <div class="row">
              <div class="col-lg-8 pr-5">
             
                 <div class="billing-details mt-5">
                    <h4 class="mb-4">Billing Details</h4>
                    <form class="checkout-form">
                       <div class="row">
                          <div class="col-lg-6">
                              <div class="form-group mb-4">
                                <label for="first_name">First Name<small class="text-danger">*</small></label>
                                <input type="text" class="form-control" id="first_name" placeholder="">
                             </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group mb-4">
                                <label for="last_name">Last Name<small class="text-danger">*</small></label>
                                <input type="text" class="form-control" id="last_name" placeholder="">
                             </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="company_name">Company Name(Optional)</label>
                                <input type="text" class="form-control" id="company_name" placeholder="">
                             </div>
                          </div>
                     
                          <div class="col-lg-12" >
                              <div class="form-group mb-4">
               
                                      <label for="company_name">Choose Your Shipping Address<small class="text-danger">*</small></label>
                                       <select class="form-control">
                                         <option value="" selected disabled>Select an Option</option>
                                         <option value="" class="input" >Current Address</option>
                                         <option value=""> Other Shipping Address</option>
                                         </select>
                                         </div>
                                       </div>

                                 <div class="col-lg-12">
                                <div class="form-group mb-4">
                                <label for="first_name" >Shipping Address</label>
                                <input type="text" class="form-control" id="street" placeholder="">
                             </div>
                          </div>

                          <div class="col-lg-12">
                           <div class="form-group mb-4">

                              <label for="company_name">Choose Your Billing Address<small class="text-danger">*</small></label>
                              <select class="form-control">
                                <option value="" selected disabled>Select an Option</option>
                                <option value="" class="input" >Same as Shipping Address</option>
                                <option value="">Choose Other Billing Address</option>
                   
                                </select>
                                </div>
                              </div>
                              <div class="col-lg-12">
                                 <div class="form-group mb-4">
                              
                           <label for="first_name">Billing Address</label>
                           <input type="text" class="form-control" id="street" placeholder="">
                        </div>
                     </div>
                           <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="first_name">Apartment, suite, unit etc. (optional) (optional)</label>
                                <input type="text" class="form-control" id="apartment" placeholder="Apartment">
                             </div>
                          </div>
                     
                          <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="company_name">City<small class="text-danger">*</small></label>
                                 <select class="form-control">
                                   <option value="">Select an Option</option>
                                   <option value="">Ahmedabad</option>
                                   <option value="">Surat</option>
                                   <option value="">Vadodara</option>
                                   <option value="">Rajkot</option>
                                   <option value="">Bhavnagar</option>
                                   <option value="">Jamnagar</option>
                                   <option value="">Junagadh</option>
                                   <option value="">Gandhinagar</option>
                                   <option value="">Gandhidham</option>
                                   <option value="">Anand</option>
                                   <option value="">Navsari</option>
                                   <option value="">Morbi</option>
                                   <option value="">Nadiad</option>
                                   <option value="">Surendranagar</option>
                                   <option value="">Bharuch</option>
                                   <option value="">Mehsana</option>
                                   <option value="">Bhuj</option>
                                   <option value="">Porbandar</option>
                                   <option value="">Palanpur</option>
                                   <option value="">Valsad</option>
                                   <option value="">Vapi</option>
                                   <option value="">Gondal</option>
                                   <option value="">Veraval</option>
                                   <option value="">Godhra</option>
                                   <option value="">Patan</option>
                                   <option value="">Kalol</option>
                                   <option value="">Dahod</option>
                                   <option value="">Botad</option>
                                   <option value="">Amreli</option>
                                   <option value="">Deesa</option>
                                   <option value="">Jetpur</option>
   
                                </select>
                             </div>
                          </div>
                          
                           <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="first_name">Postcode / ZIP <small class="text-danger">*</small></label>
                                <input type="text" class="form-control" id="postcode" placeholder="">
                             </div>
                          </div>
                           <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="first_name">Phone <small class="text-danger">*</small></label>
                                <input type="text" class="form-control" id="phone" placeholder="">
                             </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="first_name">Email address <small class="text-danger">*</small></label>
                                <input type="text" class="form-control" id="email" placeholder="">
                             </div>
                          </div>
                      
                          <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="first_name">Order notes (optional)</label>
                                <textarea class="form-control" id="msg" cols="30" rows="5" placeholder="Notes about order e:g: want to say something"></textarea>
                             </div>
                          </div>
                       </div>
                    </form>
                 </div>
              </div>
              <!-- Order sidebar Summery -->
              <div class="col-md-6 col-lg-4">
                 <div class="product-checkout-details mt-5 mt-lg-0">
                       <h4 class="mb-4 border-bottom pb-4">Order Summary</h4>
   
                       <ul class="summary-prices list-unstyled mb-4">
                        
                          <li class="d-flex justify-content-between">
                             <span >Shipping:</span>
                             <span class="h5">Free</span>
                          </li>
                          <li class="d-flex justify-content-between">
                             <span>Total</span>
                             <span class="h5"> &#8377;{{globalGrandTotal}}</span>
                          </li>
                       </ul>
                       <form >
                          <div class="form-check mb-3">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              Direct bank transfer 
                            </label>
                            <div class="alert alert-secondary mt-3" role="alert">
                               Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
                             </div>
                          </div>
                          <div class="form-check mb-3">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                               Check payments 
                            </label>
                          </div>
                           <div class="form-check mb-3">
                              <input type="checkbox" class="form-check-input" id="exampleCheck3">
                              <label class="form-check-label" for="exampleCheck3">I have read and agree to the website terms and conditions *</label>
                            </div>
                       </form>
                       <div class="info mt-4 border-top pt-4 mb-5">
                          Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <a href="#">privacy policy</a>.
                       </div>
                       <button routerLink="/purchase" [disabled]="" class="btn btn-main btn-small">Place Order</button>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
     <!-- Modal -->
     <div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
           <div class="modal-content py-5">
              <div class="modal-body">
                 <form>
                    <div class="form-group">
                       <input class="form-control" type="text" placeholder="Enter Coupon Code">
                    </div>
                    <button type="button" class="btn btn-main btn-small" data-dismiss="modal">Apply Coupon</button>
                 </form>
              </div>
           </div>
        </div>
     </div>
     <app-footer></app-footer>
