<nav class="navbar navbar-expand-lg w-100 navigation" id="navbar">
  <div class="container">
    <a><img src="assets/images/logo2.png" ></a>
    <!-- <a class="navbar-brand font-weight-bold" routerLink="/">Direct-Mart</a> -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
      aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="main-navbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home </a>
        </li>


        <!-- Pages -->
        <!-- / Blog -->

        <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-delay="350"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Shop
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <li><a routerLink="/shop">Shop</a></li>
            <li><a routerLink="/checkout">Checkout</a></li>
            <li><a routerLink="/cart">Cart</a></li>
          </ul>
        </li><!-- / Blog -->

        <!-- Account -->
        <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-delay="350"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
            <li><a routerLink="/order">Orders</a></li>
            <li><a routerLink="/address">Address</a></li>
            <li><a routerLink="/profile-details">Profile Details</a></li>
            <li><a routerLink="/forgot-password">Forgot Password</a></li>
          </ul>
        </li><!-- / Account -->



        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Sign Up</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
    <!-- Navbar-collapse -->
    <div class="form-outline">
      <input type="search" id="form1" class="form-control" placeholder="Search your product" [(ngModel)]="searchTerm" (keyup)="search($event)" aria-label="Search" />
    </div>

      <!-- <li class="list-inline-item">
        <a  class="search_toggle" id="search-icon"><i class="tf-ion-android-search" id="badge" style="margin-left: 20px;"></i></a>
      </li> -->

      
          <i class="tf-ion-android-cart " id="badge" style="margin-left: 20px;" routerLink="/cart">{{totalitem}}</i>

       
        <i routerLink="/profile-details" class="tf-ion-ios-person mr-3" id="badge" style="margin-left: 20px;"></i>

  </div>
</nav>