<app-header></app-header>
<section class="category section pt-3 pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-12 col-md-6">
          <div class="cat-item mb-4 mb-lg-0">
            <img src="assets/images/cat-1.jpg" alt="" class="img-fluid">
            <div class="item-info">
              <p class="mb-0">Stylish Leather watch</p>
              <h4 class="mb-4">up to <strong>50% </strong>off</h4>
              <a class="read-more" (click)="Data1()">Shop now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-md-6">
          <div class="cat-item mb-4 mb-lg-0">
            <img src="assets/images/cat-2.jpg" alt="" class="img-fluid">
            <div class="item-info">
              <p class="mb-0">Ladies hand bag</p>
              <h4 class="mb-4">up to <strong>40% </strong>off</h4>
              <a  class="read-more" (click)="Data2()">Shop now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-md-6">
          <div class="cat-item">
            <img src="assets/images/cat-3.jpg" alt="" class="img-fluid">
            <div class="item-info">
              <p class="mb-0">Trendy shoe</p>
              <h4 class="mb-4">up to <strong>50% </strong>off</h4>
              <a  class="read-more" (click)="Data3()">Shop now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
 

<section class="section products-main" >
    <div class="container">
<div class="row" *ngIf="watches">
    <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5" *ngFor="let watches of watchesList">
        <div class="product">
            <div class="product-wrap">
                <a href="#"><img class="img-fluid w-100 mb-3 watch-images" src={{watches.imageUrl}} alt="product-img" /></a>
            </div>

            <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

            <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">{{watches.name}}</a></h2>
                <span class="price">
                    &#8377; {{watches.price}}
                </span>
            </div>
        </div>
      </div>
</div>
    </div>


    <div class="container">
        <div class="row" *ngIf="bags">
            <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5" *ngFor="let bags of bagsList">
                <div class="product">
                    <div class="product-wrap">
                        <a href="#"><img class="img-fluid w-100 mb-3 watch-images" src={{bags.imageUrl}} alt="product-img" /></a>
                    </div>
        
                    <div class="product-hover-overlay">
                        <a href="#"><i class="tf-ion-android-cart"></i></a>
                        <a href="#"><i class="tf-ion-ios-heart"></i></a>
                      </div>
        
                    <div class="product-info">
                        <h2 class="product-title h5 mb-0"><a href="#">{{bags.name}}</a></h2>
                        <span class="price">
                            &#8377; {{bags.price}}
                        </span>
                    </div>
                </div>
              </div>
        </div>
            </div>


</section>
</section>
<app-footer></app-footer>

