<nav class="navbar navbar-expand-lg w-100 navigation" id="navbar">
  <div class="container" id="name">
    <a class="navbar-brand font-weight-bold" routerLink="/">Direct-Mart</a>
    </div>
</nav>
<div class="account section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="login-form border p-5">
            <div class="text-center heading">
              <h2 class="mb-2">Login</h2>
              <p class="lead">Don’t have an account? <a routerLink="/signup">Create a free account</a></p>
            </div>

            <form action="#" [formGroup]="loginForm">
              
              <div class="form-group mb-4">
                <label for="#">Enter Email <small class="text-danger">*</small></label>
                <input type="email" class="form-control" formControlName="email" placeholder="Enter User Email" #e1>
                <small *ngIf="loginForm.get('email')?.invalid && email?.touched " class="text-danger">Email Is required</small>
              </div>

              <div class="form-group">
                <a class="float-right" routerLink="/forgot-password">Forget password?</a>
                <label for="#">Enter Password <small class="text-danger">* <span>
                  <img src="assets/images/accept.svg" *ngIf="" style="height: 20px;width: 20px;margin-left: 40px;"></span>
                </small> </label>

                <input type="password" class="form-control" formControlName="password" placeholder="Enter Password" #p1> 
                <small *ngIf="loginForm.get('password')?.invalid && password?.touched " class="text-danger">Password Is required <span></span></small>
              
              </div>
              <small class="text-danger">{{msg}}</small>
              <button (click)="check(e1.value,p1.value)" [disabled]="loginForm.invalid" class="btn btn-main mt-3 btn-block" >Login</button>
              <br>
             
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>