<app-header></app-header>
<section class="page-header" id="GFG">
    <div class="overly"></div>   
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="content text-center">
            <h1 class="mb-3">Order</h1>
            <p>Order</p>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Order</li>
            </ol>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="user-dashboard page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5 col-sm-12 col-lg-3">
          <div class="nav flex-column nav-pills">
            <a class="nav-link active" routerLink="/order" >Orders</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/address" >Address</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/profile-details" >Account</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/reset-pass">Change Password</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link"routerLink="/login" >Log Out</a>
          </div>
        </div>
        <div class="col-12 col-md-7 col-sm-12 col-lg-9">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Order</th>
                <th scope="col">Product</th>
                <th scope="col">Product Image</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Total</th>
                <th scope="col">Actions</th>
                <th scope="col">Return</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">#1012</th>
                <td>Watch</td>
                <td><img class="p-img" src="../assets/images/watch-1.jpeg"></td>
                <td>June 11, 2019 </td>
                <td>Completed</td>
                <td>30</td>
                 <td><a routerLink="/order" class="btn btn-dark btn-small">View</a></td> 
                 <td><a routerLink=""  class="btn btn-dark btn-small">Return</a></td> 
              </tr>
                <tr> 
                   <th scope="row">#2214</th>
                   <td>Jacket</td>
                   <td><img class="p-img" src="../assets/images/men-1.jpg"></td>
                   <td>March 10, 2019</td> 
                   <td>Completed</td> 
                   <td>50</td> 
                   <td><a routerLink="/order" class="btn btn-dark btn-small">View</a></td> 
                   <td><a routerLink=""  class="btn btn-dark btn-small">Return</a><br><p class="return"> Approved Succesfully!</p></td> 
                </tr>
                    <tr> 
                      <th scope="row">#3434</th>
                      <td>Hand Bag</td>
                      <td><img class="p-img" src="../assets/images/p-7.jpg"></td>
                      <td>February 11, 2019</td>
                      <td>Pending</td> <td>25</td> 
                      <td><a routerLink="/order" class="btn btn-dark btn-small" >View</a></td> 
                      <td><a routerLink="" class="btn btn-dark btn-small">Return</a></td> 
                    </tr>
                     
                  </tbody> 
                </table> 
              </div> 
            </div>
          </div>
      </section>
  <app-footer></app-footer>